*
{
	margin: 0;
	padding: 0;
}

/*Tags for first party*/

.logo
{
	margin-bottom: 15px;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

a
{
	color: black;
	text-decoration: none;
}


ul li
{
	display: inline-block;
 	margin: 0 0 0 20px;
 	list-style: none;
}

.banner img 
{
    width: 100%;
    height: auto;
}

.webagency
{
	position: absolute;
	top: 300px;
	left: 300px;
	width: 600px;
	color: white;
}

.project
{
	position: absolute;
	top: 400px;
	left: 300px;
	width: 400px;
	color: white;
}

.button
{
	position: absolute;
	top: 450px;
	left: 300px;
	width: 90px;
	padding: 12px 16px;
	background-color: #5CADD3;
	color: white;
	border-radius: 3px;
}

input
{
	color: white;
	background-color: #5CADD3;
	font-size: 18px;
	border: none;
}

strong
{
	color: #5CADD3;
}

.fa-angle-left
{
	position: absolute;
	top: 400px;
	color: white;
	font-size: 32px;
	left: 10px;
}

.fa-angle-right
{
	position: absolute;
	top: 400px;
	color: white;
	font-size: 32px;
	right: 10px;
}

/*Tags for "nos services"*/

.service
{
	position: absolute;
	top: 900px;
	left: 600px;
}

#service
{
	position: absolute;
	top: 950px;
	left: 600px;
	width: 625px;
}

.desktop
{
	position: absolute
;	top: 950px;
}

.ux_design
{
	position: absolute;
	top: 1050px;
	left: 600px;
	width: 500px;
}

.ui_design
{
	position: absolute;
	top: 1150px;
	left: 600px;
	width: 500px;
}

.seo
{
	position: absolute;
	top: 1250px;
	left: 600px;
	width: 500px;
}

.fa-chart-line
{
	position: absolute;
	top: 1065px;
	left: 525px;
	font-size: 28px;
	color: #5CADD3;
}

.fa-cubes
{
	position: absolute;
	top: 1165px;
	left: 525px;
	font-size: 28px;
	color: #5CADD3;
}

.fa-chart-pie
{
	position: absolute;
	top: 1265px;
	left: 525px;
	font-size: 28px;
	color: #5CADD3;
}