*
{
	margin: 0;
	padding: 0;
}

/*Tags for first party*/

.logo
{
	margin-bottom: 15px;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

a
{
	color: black;
	text-decoration: none;
}


ul li
{
	display: inline-block;
 	margin: 0 0 0 20px;
 	list-style: none;
}

.banner 
{
	background: url('image/banniere.jpg') no-repeat top left;
	position: relative;
	width: 200px;
	height: 100px;
	z-index: 1;
}

.webagency
{
	position: absolute;
	top: 250px;
	left: 235px;
	width: 600px;
	z-index: 2;
	color: white;
}

.project
{
	position: absolute;
	top: 335px;
	left: 235px;
	width: 400px;
	z-index: 3;
	color: white;
}

.button
{
	position: absolute;
	top: 375px;
	left: 235px;
	width: 90px;
	z-index: 3;
	padding: 8px 12px;
	background-color: #5CADD3;
	color: white;
	border-radius: 3px;
}

input
{
	color: white;
	background-color: #5CADD3;
	font-size: 18px;
	border: none;
}

strong
{
	color: #5CADD3;
}

/*Tags for "nos services"*/

.service
{
	position: relative;
	top: 500px;
	display: flex;
	justify-content: center;
}

#service
{
	position: relative;
	top: 500px;	
	text-align: center;
}

.desktop
{
	position: absolute;
	top: 750px;
}

.ux_design
{
	position: relative;
	top: 600px;
	left: 600px;
}

.ui_design
{
	position: relative;
	top: 625px;
	left: 600px;
}

.seo
{
	position: relative;
	top: 650px;
	left: 600px;
}