/*Rules media queries for mobile device*/

@media all and (min-width: 320px) and (max-width: 425px)
{
	body
	{
		font-size: 0.8em;
	}

	header
	{
		position: fixed;
		top: 0px;
	}

	header ul
	{
		line-height: 40px;
	}

	header li
	{
		width: 60px;
	}

	#navigation
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo img
	{
		width: 90%;
	}

	#slide
	{
		position: relative;
		width: 100%;
	}

	#slide img
	{
		display: none; 
	}

	.arrows
	{
		display: none;
	}

	.webagency_intro
	{
		position: inherit;
		margin-top: 32%;
		left: 0;
		width: 100%;
		color: #000;
		font-size: 1.2em;
	}

	.slider_webagency h1
	{
		text-align: center;
		font-size: 1.5em;
		color: #000;
	}

	.slider_webagency
	{
		margin-bottom: 6px;
	}

	.slider_texte
	{
		text-align: center;
		width: 100%;
		font-size: 0.8em;
	}

	.slider_button
	{
		margin-left: 38%;
		width: 62px;
		padding: 6px 8px;
	}

	.slider_button input
	{
		font-size: 12px;
	}

	.service_description
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.service_desktop
	{
		width: 70%;
	}

	.service_desktop img
	{
		width: 100%;
		margin-left: 0;
	}

	.service_design
	{
		width: 100%;
	}

	.fa-circle
	{
		border: 3px solid #fff;
	}

	.dot_and_circle .fa-circle
	{
		position: absolute;
    	color: #5CADD3;
    	font-size: 0.8em;
	   	top: 14px;
	    right: -7px;
	}

	.title_and_text
	{
		width: 100%;
		margin-left: 1rem;
	}

	.fa-chart-line
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
    	padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	.fa-cubes
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
    	padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	.fa-chart-pie
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
   		padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	#projet_navigation
	{
		width: 300px;
	}

	#projet_image_content
	{
		display: flex;
		margin-left: 3%;
		margin-top: 15px;
	}

	.ctn_image
	{
		width: 85%;
	}

	.image_row
	{
		display: block;
	}

	iframe
	{
		position: inherit;
	}

	form
	{
		position: inherit;
    	margin-left: 0;
    	margin-top: 0;
	}
}


/*Rules of breakpoint*/


/*@media all and (min-width: 426px) and (max-width: 1369px)
{
	.service_description
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.service_desktop
	{
		display: flex;
		justify-content: center;
		width: 100%
	}

	.service_desktop img
	{
		margin-left: 0;
	}

	.service_design
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.title_and_text
	{
		width: 100%;
	}

	form
	{
		position: inherit;
    	margin-left: 0;
    	margin-top: 0;
	}


}*/

/*@media all and (min-width: 426px) and (max-width: 965px)
{
	.webagency_intro
	{
		top: 35%;
		left: 10%;
		width: 55%
	}

	.dot_and_circle
	{
		top: 25px;
	}

	.dot_and_circle .fa-circle 
	{
    	font-size: 0.7em;
    	top: 12px;
    }

    .fa-chart-line 
    {
    	font-size: 1.2em;
    	padding: 12px;
	}

	.fa-cubes 
	{
    	font-size: 1.2em;
    	padding: 12px;
	}

	.fa-chart-pie 
	{
   		font-size: 1.2em;
    	padding: 12px;
	}

	form
	{
		margin-left: 5%;
		margin-top: 17%;
	}
}*/