/*Rules media queries for mobile device*/

@media all and (min-width: 320px) and (max-width: 425px)
{
	body
	{
		font-size: 0.8em;
	}

	header ul
	{
		line-height: 40px;
	}

	header li
	{
		width: 60px;
	}

	#navigation
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo img
	{
		width: 70%;
		margin-left: 12%;
	}

	.arrows
	{
		top: 65%;
	}

	.left
	{
		width: 1.2em;
		height: 2.5em;
	}

	.fa-angle-left
	{
		top: 37%;
		left: 3px;
		font-size: 0.9em;
	}

	.right
	{
		width: 1.2em;
		height: 2.5em;
	}

	.fa-angle-right
	{
		top: 37%;
		right: 3px;
		font-size: 0.9em;
	}

	.webagency_intro
	{
		top: 48%;
		left: 11%;
		width: 55%;
	}

	.slider_webagency
	{
		margin-bottom: 5px;
	}

	.slider_webagency h1
	{
		font-size: 3.5vw;
	}

	.slider_texte
	{
		width: 55%;
		margin-bottom: 5px;
		font-size: 2.8vw;
	}

	.slider_button
	{
		width: 25.7%;
		padding: 2px 8px;
	}

	.slider_button input
	{
		font-size: 2.8vw;
	}

	.service_description
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.service_desktop
	{
		width: 70%;
	}

	.service_desktop img
	{
		width: 100%;
		margin-left: 0;
	}

	.service_design
	{
		width: 100%;
	}

	.fa-circle
	{
		border: 3px solid #fff;
	}

	.dot_and_circle .fa-circle
	{
		position: absolute;
    	color: #5CADD3;
    	font-size: 0.8em;
	   	top: 14px;
	    right: -7px;
	}

	.title_and_text
	{
		width: 100%;
		margin-left: 1rem;
	}

	.fa-chart-line
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
    	padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	.fa-cubes
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
    	padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	.fa-chart-pie
	{
		font-size: 1.3em;
    	border: 1px solid #ECECEC;
   		padding: 12px;
    	border-radius: 50px;
    	color: #5CADD3;
	}

	#projet_navigation
	{
		width: 300px;
	}

	#projet_image_content
	{
		display: flex;
		margin-left: 3%;
		margin-top: 15px;
	}

	.ctn_image
	{
		width: 85%;
	}

	.image_row
	{
		display: block;
	}

	iframe
	{
		position: inherit;
	}

	form
	{
		position: inherit;
    	margin-left: 0;
    	margin-top: 0;
	}
}


/*Rules of breakpoint*/

@media all and (min-width: 426px) and (max-width: 768px)
{
	header ul
	{
		line-height: 40px;
	}

	header li
	{
		width: 60px;
	}

	#navigation
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo img
	{
		width: 70%;
		margin-left: 12%;
	}

	.arrows
	{
		top: 63%;
	}

	.left
	{
		width: 1.2em;
		height: 2.5em;
	}

	.fa-angle-left
	{
		top: 37%;
		left: 3px;
		font-size: 0.9em;
	}

	.right
	{
		width: 1.2em;
		height: 2.5em;
	}

	.fa-angle-right
	{
		top: 37%;
		right: 3px;
		font-size: 0.9em;
	}

	.webagency_intro
	{
		top: 41%;
		left: 9%;
		width: 55%;
	}

	.slider_webagency
	{
		margin-bottom: 5px;
	}

	.slider_webagency h1
	{
		font-size: 3.5vw;
	}

	.slider_texte
	{
		width: 55%;
		margin-bottom: 5px;
		font-size: 2.8vw;
	}

	.slider_button
	{
		width: 17%;
		padding: 2px 8px;
	}

	.slider_button input
	{
		font-size: 1.8vw;
	}

	.service_description
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.service_desktop img
	{
		margin-left: 0;
	}

	.service_design
	{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.title_and_text
	{
		width: 100%
	}

	.dot_and_circle .fa-circle 
	{
    	font-size: 0.7em;
    	top: 12px;
    }

    .fa-chart-line 
    {
    	font-size: 1.2em;
    	padding: 12px;
	}

	.fa-cubes 
	{
    	font-size: 1.2em;
    	padding: 12px;
	}

	.fa-chart-pie 
	{
   		font-size: 1.2em;
    	padding: 12px;
	}

	#projet_image_content
	{
		display: flex;
		margin-left: 3%;
		margin-top: 15px;
	}

	.ctn_image
	{
		width: 85%;
	}

	.image_row
	{
		display: block;
	}

	iframe
	{
		position: inherit;
	}

	form
	{
		position: inherit;
		margin-left: 0;
		margin-top: 0;
	}
}

@media all and (min-width: 769px) and (max-width: 1370px)
{
	.webagency_intro
	{
		top: 35%;
		left: 10%;
		width: 55%
	}

	.service_description
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.service_desktop img
	{
		margin-left: 0;
	}

	.service_design
	{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	form
	{
		margin-left: 5%;
		margin-top: 17%;
	}
}