*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden;
	font-family: roboto;
	font-size: 0.9em;
	color: #575A5E;
}

h1
{
	color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.7rem;
}

/*Tags for first party*/

/*Tags for HEADER*/
header
{
	position: fixed;
	width: 100%;
	height: 100px;
	border: 1px solid #fff;
	background-color: #fff;
	z-index: 3;
}

#navigation
{
	margin: 0;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.logo img
{
	width: 100%;
}

header ul
{
	display: flex;
	list-style: none;
	color: #575A5E;
	height: 100%;
	line-height: 100px;
}

#border_active
{
	border-top: 3px solid #5CADD3;
}

header li
{
	width: 90px;
	text-align: center;
	border-top: 3px solid #fff;
}

header a
{
	position: relative;
	color: #575A5E;
	text-decoration: none;
	width: 100%;
}

header ul li:hover
{
	border-top: 3px solid #5CADD3;
}

header a:hover
{
	text-decoration: none;
}


/*Tags for section id slide*/

#slide
{
	position: relative;
}

#slide img 
{
    width: 100%;
    margin-top: 100px;
}

.arrows
{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 3.5em;
}

.fa-angle-left
{
	position: absolute;	
	top: 32%;
	left: 5px;
	color: #fff;
	font-size: 1.35em;
	z-index: 2;
}

.left
{
    position: absolute;
    width: 1.7em;
    height: 3.5em;
    color: #fff;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; 
    background-color: #414246;
    z-index: 1;
}

.fa-angle-right
{
	position: absolute;
	top: 32%;
	right: 5px;
	color: #fff;
	font-size: 1.35em;
	z-index: 2;
}

.right
{
	position: absolute;
    right: 0;
    width: 1.7em;
   	height: 3.5em;
    color: #fff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #414246;
    z-index: 1;
}

.webagency_intro
{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 550px;
    color: #fff;
}

.slider_webagency
{
	margin-bottom: 15px;
}

.slider_webagency span
{
	color: #5CADD3;
}

.slider_texte
{
	margin-bottom: 15px;
}

.slider_button
{
	width: 90px;
	padding: 12px 16px;
	background-color: #5CADD3;
	color: white;
	border-radius: 3px;
}

input
{
	color: white;
	background-color: #5CADD3;
	font-size: 18px;
	border: none;
}


/*Tags for "nos services"*/

#service_content
{

}

.header_service
{

}

.service_title
{

}

.dot_and_separator
{

}

.dot_and_separator .fa-circle
{

}

.service_separator
{

}

.service_text
{

}

.service_description
{

}

.service_desktop
{

}

.service_design
{

}

.ux_design
{

}

.fa-chart-line
{

}

.ux_circle
{

}

.ux_title
{

}

.ux_text
{

}

.ui_design
{

}

.fa-cubes
{

}

.ui_circle
{

}

.ui_title
{

}

.ui_text
{

}

.seo_design
{

}

.seo_circle
{

}

.seo_title
{

}

.seo_text
{

}

/*Tags for "nos projets"*/

/*.projet_content
{
	position: relative;
	top: 640px;
	display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

.projet
{
	left: 33%;
	width: 670px;
}

.projet_titre
{
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.projet_separateur
{
	position: absolute;
	top: 60px;
	width: 150px;
	left: 46%;
	border: 1px solid #ececec;
}

.dot_projet
{
	position: absolute;
	top: 45px;
	left: 49.1%;
	color: #5CADD3;
	border: 7px solid #fff;
	border-radius: 50%;
}

.projet_texte
{
	text-align: center;
}

#projet_navigation
{
	width: 400px;
	margin-top: 50px;
    background-color: #E5E5E5;
    line-height: 37px; 
    margin-bottom: 30px;
    border-radius: 3px;
}

.nav_projet
{
	border-bottom: 3px solid #FFFFF0;
	border-radius: 3px;
	text-align: center;
}

#projet_navigation ul 
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 47px;
    font-size: 0.8em;
}

#projet_navigation li 
{
    padding: 0.2rem 0.8rem;
    width: 86px;
}

#projet_navigation a 
{
    text-decoration: none;
    color: #575A5E;
}

#projet_navigation .block_nav 
{
    position: relative;
    /*background: #5CADD3;
    background-color: #5CADD3;
    border: 2px solid #5CADD3;*/
    text-decoration: none;
    /*border-bottom: 3px solid #468CAD;*/
    border-radius: 3px;
}

#projet_navigation .active_text 
{
    color: #575A5E;
}

#projet_navigation .nav_projet:hover
{
    background: #5CADD3;
    border-bottom: 3px solid #468CAD;
    border-radius: 3px;
}

#projet_navigation .nav_projet a:hover 
{
    color: #fff;
}*/

/*Tags for image*/

/*#projet_image_content
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	margin-top: 45px;
}

.glasses
{
	width: 20%;
	margin-left: 65px;
}

.glasses img
{
	width: 100%;
}

.bunny
{
	width: 20%;
}

.bunny img
{
	width: 100%;
}

.pompadour
{
	width: 20%;
}

.pompadour img
{
	width: 100%;
}

.other_project
{
	width: 20%;
}

.other_project img
{
	width: 100%;
}

.shopping_bag
{
	width: 20%;
	margin-top: 40px;
	margin-left: 65px;
}

.shopping_bag img
{
	width: 100%;
}

.building
{
	width: 20%;
	margin-top: 40px;
}

.building img
{
	width: 100%;
}

.rocket
{
	width: 20%;
	margin-top: 40px;
}

.rocket img
{
	width: 100%;
}

.work
{
	width: 20%;
	margin-top: 40px;
}

.work img
{
	width: 100%;
}*/
