*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden;
	font-family: roboto;
}

/*Tags for first party*/

.logo
{
	margin-bottom: 15px;
	width: 100%;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

a
{
	color: black;
	text-decoration: none;
}


ul li
{
	display: inline-block;
	margin: -30px 0 0 20px;
 	list-style: none;
}

ul li:hover
{
	border-top: 2px solid #5CADD3;
	padding-top: 20px;
}

.banner img 
{
    width: 100%;
}

.banner
{
	position: relative;
	width: 100%;
}

.texte
{
	position: absolute;
	top: 225px;
    left: 300px;
    width: 600px;
    color: white;
}

.slider
{
	position: absolute;
}

.fa-angle-left
{
	position: absolute;
	color: white;
	font-size: 32px;
	left: 5px;
	bottom: 317px;
	z-index: 2;
}

.left
{
	width: 30px;
	height: 50px;
	position: absolute;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	background-color: #424246;
	bottom: 309px;
	left: 1873px;
	z-index: 1;
}

.fa-angle-right
{
	position: absolute;
	color: white;
	font-size: 32px;
	left: 1885px;
	bottom: 317px;
	z-index: 2; 
}

.right
{
	width: 30px;
	height: 50px;
	position: absolute;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	background-color: #424246;
	bottom: 309px;
	z-index: 1;
}

.webagency
{
	margin-bottom: 20px;
}

.project
{
	margin-bottom: 20px;
}

.button
{
	top: 450px;
	left: 300px;
	width: 90px;
	padding: 12px 16px;
	background-color: #5CADD3;
	color: white;
	border-radius: 3px;
}

input
{
	color: white;
	background-color: #5CADD3;
	font-size: 18px;
	border: none;
}

strong
{
	color: #5CADD3;
}

/*Tags for "nos services"*/

.container
{
	position: relative;
}

.desktop
{
	position: absolute;
	top: 225px;
	left: 300px;
}

.service
{
	position: absolute;
	top: 50px;
	left: 750px;
	width: 600px;
}

.ux_design
{
	position: absolute;
	top: 300px;
	left: 955px;
	width: 500px;
}

.ui_design
{
	position: absolute;
	top: 400px;
	left: 955px;
	width: 500px;
}

.seo
{
	position: absolute;
	top: 500px;
	left: 955px;
	width: 500px;
}

.fa-chart-line
{
	position: absolute;
	top: 300px;
	left: 890px;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
}

.fa-cubes
{
	position: absolute;
	top: 400px;
	left: 890px;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
}

.fa-chart-pie
{
	position: absolute;
	top: 500px;
	left: 890px;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
}