*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden;
	font-family: roboto;
	color: #575A5E;
}

h1
{
	color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.7rem;
    /*width: 420px;*/
}

/*Tags for first party*/

/*Tags for HEADER*/
header
{
	position: fixed;
	width: 100%;
	height: 100px;
	border: 1px solid #fff;
	background-color: #fff;
	z-index: 3;
}


#navigation
{
	margin: 0;
	width: 100%;
	height: 100px;
	display: flex;
	flex: row;
	justify-content: space-around;
	align-items: center;
}

.logo img
{
	width: 100%;
	margin-bottom: 100px;
}

ul
{
	display: flex;
	list-style: none;
	color: #575A5E;
	height: 100%;
	line-height: 100px;
}

#border_active
{
	border-top: 3px solid #5CADD3;
}

li
{
	width: 90px;
	text-align: center;
	border-top: 3px solid #fff;
}

a
{
	position: relative;
	color: #575A5E;
	text-decoration: none;
	width: 100%;
}

ul li:hover
{
	border-top: 3px solid #5CADD3;
}

a:hover
{
	text-decoration: none;
}


/*Tags for section id slide*/

#slide
{
	position: relative;
}

img 
{
    width: 100%;
    margin-top: 100px;
}

.arrows
{
	position: absolute;
	top: 50%;
	width: 2.5em;
	height: 3.5em;
}

.fa-angle-left
{
	position: absolute;	
	top: 25%;
	left: 8px;
	color: #fff;
	font-size: 1.7em;
	z-index: 2;
}

.left
{
    position: absolute;
    width: 2.5em;
    height: 3.5em;
    color: #fff;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%; 
    background-color: #414246;
    z-index: 1;
}

.fa-angle-right
{
	position: absolute;
	top: 25%;
	right: 8px;
	color: #fff;
	font-size: 1.7em;
	z-index: 2
}

.right
{
	position:  absolute;
    left: 1880px;
    width: 2.5em;
   	height: 3.5em;
    color: #fff;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #414246;
    z-index: 1;
}

.webagency_intro
{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 550px;
    color: #fff;
}

.slider_webagency
{
	margin-bottom: 15px;
}

span
{
	color: #5CADD3;
}

.slider_texte
{
	margin-bottom: 15px;
}

.slider_button
{
	width: 90px;
	padding: 12px 16px;
	background-color: #5CADD3;
	color: white;
	border-radius: 3px;
}

input
{
	color: white;
	background-color: #5CADD3;
	font-size: 18px;
	border: none;
}

/*Tags for "nos services"*/

.service_content
{
	position: relative;
}

.service
{
	position: absolute;
	top: 50px;
	left: 33%;
	width: 670px;
}

.service_titre
{
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.service_separateur
{
	position: absolute;
	top: 60px;
	width: 150px;
	left: 38.7%;
	border: 1px solid #ececec;
}

.dot_service
{
	position: absolute;
	top: 45px;
	left: 47.5%;
	color: #5CADD3;
	border: 7px solid #fff;
	border-radius: 50%;
}

.service_texte
{
	text-align: center;
}

#info_service
{
	position: absolute;
	top: 150px;
	left: 18%;
}

.ux_design
{
	position: absolute;
	top: 300px;
	left: 54.5%;
	width: 550px;
}

.fa-chart-line
{
	position: absolute;
	top: 300px;
	left: 50%;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
	z-index: 1;
}

.dot_line
{
	position: absolute;
	top: 315px;
	left: 52.25%;
	color: #5CADD3;
	border: 3px solid #fff;
	border-radius: 50%;
	z-index: 2;
}

.ui_design
{
	position: absolute;
	top: 400px;
	left: 54.5%;
	width: 550px;
}

.fa-cubes
{
	position: absolute;
	top: 400px;
	left: 50%;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
	z-index: 1;
}

.dot_cube
{
	position: absolute;
	top: 415px;
	left: 52.25%;
	color: #5CADD3;
	border: 3px solid #fff;
	border-radius: 50%;
	z-index: 2;
}

.seo
{
	position: absolute;
	top: 500px;
	left: 54.5%;
	width: 550px;
}

.fa-chart-pie
{
	position: absolute;
	top: 500px;
	left: 50%;
	font-size: 22px;
	color: #5CADD3;
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 50%;
	z-index: 1;
}

.dot_pie
{
	position: absolute;
	top: 515px;
	left: 52.4%;
	color: #5CADD3;
	border: 3px solid #fff;
	border-radius: 0 2em 2em 0;
	z-index: 2;
}

/*Tags for "nos projet"*/


.projet
{
    position: relative;
    top: 625px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid #F5F5F5;
    background-color: #F5F5F5;*/
}

.projet_titre
{
	margin-bottom: 50px;
	text-transform: uppercase;
}

.projet_separateur
{
	position: absolute;
    top: 60px;
    width: 150px;
    left: 46%;
    border: 1px solid #ececec;
}

.dot_projet
{
    position: absolute;
    top: 45px;
    left: 49%;
    color: #5CADD3;
    border: 7px solid #fff;
    border-radius: 50%;
}

.projet_texte
{
	text-align: center;
	width: 670px;
}

#projet_navigation
{
	margin-top: 50px;
    background-color: #E5E5E5;
    line-height: 30px; 
    margin-bottom: 30px;
}

#projet_navigation ul 
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
}

#projet_navigation li 
{
    padding: 0.2rem 0.8rem;
    width: 83px;
}

#projet_navigation a 
{
    text-decoration: none;

}

#projet_navigation .block-nav 
{
    position: relative;
    background: #5DADD2;
    border: 2px solid #5DADD2;
    text-decoration: none;
    border-bottom: 3px solid #468CAD;
    border-radius: 5%;
}

#projet_navigation .active-text 
{
    color: #fff;
}

#projet_navigation .nav_projet:hover
{
    background: #5DADD2;
    border: 2px solid #5DADD2;
    border-bottom: 3px solid #468CAD;
    border-radius: 5%;
    height: 30px;
    width: 84px;
}

#projet_navigation .nav_projet a:hover 
{
    color: #fff;
}

#image
{

}